.header {
    width: 100%;
    height: 60px;
    background-color: #2C3E50;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

.logo a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}

.logo h1 {
    margin: 0;
}

.logo {
    color: #FFFFFF;
    font-size: 15px;
}

.search form {
    display: flex;
    align-items: center;
    border: 1px solid #95A5A6; /* Borda da barra de pesquisa */
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff; /* Fundo branco */
    border-radius: 20px;
  }
  
/* Estilo para o botão */
.search button {
    background-color: #95A5A6; /* Fundo do botão */
    border: none; /* Sem borda */
    padding: 8px 12px; /* Espaçamento interno do botão */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button i {
    font-size: 18px; /* Tamanho do ícone */
    color: #333; /* Cor do ícone */
}

/* Estilo para o campo de texto */
.search input {
    border: none; /* Sem borda */
    padding: 8px;
    width: 650px; /* Tamanho da barra de pesquisa */
    outline: none; /* Remove o contorno ao focar */
    
}

.search input::placeholder {
color: #999; /* Cor do placeholder */
}

.navbar {
    display: flex;
    align-items: center; /* Isso vai centralizar verticalmente os itens */
    gap: 26px; /* Espaçamento entre os ícones */
}

.navbar i {
    font-size: 24px;
    color: white;
}

.navbar img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
