body {
    background-color: #2C3E50;
}

.login-box {
    width: 300px;
    height: 380px;
    background-color: #FFFF;
    margin: 80px auto;
    border-radius: 5px;
    box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.login-text h1{
    margin: 0;
    color: #2C3E50;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.form {
    margin: 30px 5px;
    font-weight: none;
}

.form input {
    width: 250px;
    height: 30px;
    border: 0.5px solid #BDC3C7;
    border-radius: 5px;
    background-color: #ECF0F1;
    padding-left: 5px;
    margin-bottom: 15px;
}

.form form a {
    font-size: 13px;
    text-decoration: none;
    color: #9A84CE;
    margin-left: 120px;
}

.form a:hover {
    color: #2ECC71; /* Altera a cor do link ao passar o mouse */
}

.checkbox {
    display: inline-flex;
}

.checkbox input {
    width: 20px;
}

.checkbox p {
    margin: 5px;
    color: rgba(44, 62, 80, 80);
}

.form input[type='submit'] {
    width: 250px;
    height: 35px;
    background-color: #2ECC71;
    border-radius: 5px;
    border: 1px solid #28AA5F;
    color: white;
}

.form .register {
    margin: 8px;
    color: #2ECC71;
}